.mainColumnWebsite {
    padding: 0 5%;
    min-height: 100vh;
    background-image: url(../src/image/bgWebsite.jpg);
    background-repeat: repeat;
}

h2 {
    text-align: center;
}

table {
    margin: auto;
    border: 1px #000000 solid;
    font-weight: bold;
    table-layout: fixed;  /* table要素に指定することで、幅を固定 */
    width: 90%;
}

table td {
    border: 1px #000000 solid;
    font-weight: bold;
    width: 100%;
}

table th{
    border: 1px #000000 solid;
    font-weight: bold;        /* 幅を指定した要素だけ固定される。他は等倍の可変 */
    width: 40%;
}
